.banner {
  background-color: #5b493b;
  color: white;
  height: 15vh;
}

.left-menu {
  background-color: #f99a3e;
}

.top-menu {
  background-color: #c29182;
}

.odd-photo {
  background-color: #c5687a;
}

.even-photo {
  background-color: #02a1b6;
}

.content {
  padding: 13vh;
}

.footer {
  background-color: #5b493b;
  color: white;
  height: 5vh;
}
